.itunes-preview{
    margin-top: 2rem;

    &.itunes-full-width{
        width: 100%;
    }
   
    .itunes-video-preview{
        width: 20%;
    }

    .itunes-audio-preview{
        width: 100%;
    }
}