/* Navbar */


  .itunes-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    border-bottom: solid 1px var(--primary-color);
  
      ul {
          display: flex;
          text-align: center;
          justify-content: center;
        }
  
        a {
          font-family: 'Concert One', cursive;
          font-size: 1.5rem;
          color: #fff;
          padding: 0.45rem;
          margin: 0 0.25rem;
          text-decoration: none !important;
          
          &:hover{
            color: #fff;
          }
        }
      
        .itunes-welcome {
          display: none;
          span {
            margin-right: 0.6rem;
          }
        }

        .itunes-home-icon{
          display: flex;
        }
    }

  .itunes-bg-dark{
    background:#262626;
    color: #fff;
  }
