
.itunes-card {
 
  display: flex;
  transition: all .2s ease-in-out;
  margin: 15px;
  flex-direction: column;
  cursor: pointer;
  border: 7px #464646 solid;


    .itunes-image {
      position: relative;
      width: 220px;     
      height: 220px;
      overflow: hidden;
      transition: all .2s ease-in-out;

      
      img{
        position: absolute;
        max-width: 100%;
        width: 100%;
        height: auto;
        top: 50%;     
        left: 50%;
        transform: translate( -50%, -50%);
      }
    }
    
    .itunes-text {
      font-family: 'Concert One', cursive;
      display: flex;
      background-color: white;
      flex-direction: column;
      padding: 10px 10px;
      width: 220px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      h3{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

  }
 
  